.display-container {
  width: var(--display-width);
  height: var(--display-height);
  display: flex;
  align-items: center;
  padding: 0 4%;
  background: var(--display-background-color);
}

.display-value {
  color: var(--display-text-color);
  font-size: var(--display-text-size);
  font-family: var(--main-font);
  font-weight: var(--display-text-weight);
  margin-left: auto;
  overflow: hidden;
}
